
<div class="head-title align-middle d-print-none">
  <!-- <div class="head-title mb-3 align-middle d-print-none"> -->
  <div class="ctn-htitle d-flex flex-wrap align-items-center">

      <img class="img-fluid mx-auto d-block align-bottom imagen" src="./assets/images/logo_obras.png" 
        draggable="false">

  </div>
</div>
<br/>

<div class="card text-center">
    <div class="card-header alert alert-warning">
        CUENTA NO VALIDADA
    </div>
    <div class="card-body">
      <h5 class="card-title">Recuerde que a través de esta plataforma podrá realizar el registro de su obra.</h5>
      <p class="card-text">Para poder utilizar el servicio de registro de obras, deberá presentar en cualquiera de las oficinas del Servicio de Atención al Ciudadano - SAC a nivel nacional,
         el formato de términos y condiciones de la Plataforma, debidamente impreso y firmado en original.</p>
    </div>
  </div>

