<!-- <ng-container *ngIf="spinner">
  <app-spinner></app-spinner>
</ng-container> -->
<!-- <div *ngIf="spinner; then thenBlock"></div>
<ng-template #thenBlock>  
    <app-spinner></app-spinner>
</ng-template>
{{spinner}} -->

<!-- <div class="container-fluid"> -->
<!-- Menu -->
<!-- <app-menu></app-menu> -->
<!-- Menu -->
<!-- <app-busqueda-fonetica></app-busqueda-fonetica> -->
<!-- <app-menu></app-menu> -->
<!-- <app-banner-principal></app-banner-principal> -->
<router-outlet></router-outlet>
<app-footer></app-footer>
<!-- </div> -->
<!-- <router-outlet></router-outlet> -->